		<div class="question_background">
	                <div class="row-fluid pagination-centered">
	                        <h4 style="color:white">{{this}}</h4>
	                        
	                </div>

	                <div class="row-fluid">
		                <div class="btn-toolbar pagination-centered remove-top-margin">
			                <div id="textbox">
								<h4 class="alignleft agree-font remove-top-margin">fully<br>disagree</h4>
								<h4 class="aligncenter agree-font remove-top-margin"><br>neutral</h4>
								<h4 class="alignright agree-font remove-top-margin">fully<br>agree</h5>
							</div>
 							<div style="clear: both;"></div>​
		                    <div class="btn-group btn-group-vertical rating-btn-v" data-toggle="buttons-radio" id="group{{getNumber this}}">
		                        <div class="btn-group rating-btn-group">
		                            <button class="btn btn-large btn-primary rating-btn"> 1 </button>                         
		                            <button class="btn btn-large btn-primary rating-btn"> 2 </button>                         
		                            <button class="btn btn-large btn-primary rating-btn"> 3 </button>                         
		                            <button class="btn btn-large btn-primary rating-btn"> 4 </button>                         
		                            <button class="btn btn-large btn-primary rating-btn"> 5 </button>
		                        </div>
		                        <!--<div class="percent-spacer"></div>-->
		                        <button class="btn btn-block btn-large btn-primary pagination-centered"> Not Applicable </button>
		                    </div>
		                </div>
	                </div>
	 
	            </div>
	            <div class="percent-spacer"></div>